<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Spitter is a barebones clone of a popular microblogging social website that shall
  not be disclosed. It most definitely does not rhyme with it or anything...

  <br />

  It was built in accordance with the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>, which is a
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>